h1{
    text-align: center;
    font-family: 'STIX Two Text', serif;
    color: whitesmoke;
}
fieldset{
    width: 60% ;
    display: block;
    margin: 0 auto;
    color: whitesmoke;
    border-radius: 20px;
}
.box-formulario
{
    width: 80%;
    display: block;
    margin: 0 auto;
    margin: 25px auto ; 
    
}
.controls{
    margin-bottom: 1.3em;
    font-family:'STIX Two Text', serif;
    font-size: 1.2em;
    color: rgb(64,64,64);
    height: 40px;
    border-radius: 20px;
    width: 350px;
}
label
{
    font-family:'STIX Two Text', serif;
    font-size: 1.2em;
}
.controls-check
{
    margin-bottom: .7em;
    font-family:'STIX Two Text', serif;
    font-size: 1.2em;
    border-radius: 20px

}
body
{
    background-image: linear-gradient(to right, #200122, #6f0000 );
}
.controls-button
{
    margin-bottom: 1.3em;
    font-family:'STIX Two Text', serif;
    font-size: 1.2em;
    color: whitesmoke;
    height: 40px;
    border-radius: 20px;
    width: 700px;
    cursor: pointer;
    background-image: linear-gradient(to right,#3a6186,#89253e);
    border: none;
    font-size: 1.5em;
    

}
.controls-button:hover
{
    transform: translateY(3px);
    background-image: linear-gradient(to right,#8E0E00,#1F1C18) ;
    
}
ul
{
    color: whitesmoke;
}

