*
{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("../img/thumb-1920-920300.jpg");
}
nav
{
    cursor: pointer;
    padding: 0;
}
ul
{
    list-style: none;
    position:absolute;
    background: rgba(126, 123, 123, 0.747);
    width: 100%;

}
a
{
    display: block;
    text-decoration: none;
    color: white;
    padding: 1em;
    
}
/* .item
{
    line-height: 3em;
    display: inline-block;
    position: relative;
    text-align: right;

} */

a:hover
{
    background: rgb(63, 63, 63);
    transition: all 1,5s;
}
.sub-item
/* {
    text-align: center;
    transition: all 1.5s ;
    max-height: 0;
    background: darkred;
    position: relative;
} */
.item:hover .sub-item
{
    display: block;
    max-height: 500px;
    border-bottom: 1px solid white;
}
