@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    background: #ededed;
}

.header {
    width: 100%;
    height: 60px;
    background: #ee8a8a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* div{
    margin-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid rgb(48,48,48.8);
} */
.logoMenu {
    margin-left: 80px;
}


.logoAvion {
    margin-right: 80px;
}

.logoAvion i {
    font-size: 1.6em;
    padding: 8px;
    color: #333;
}

.logoAvion i:hover {
    transition: all 3ms;
    background: rgb(243, 69, 69);
    border-radius: 50%;
    cursor: pointer;
}
.mainContentClass {
    padding: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-wrap: wrap;

    
}
div {
    display: block;
}
.contentVuelo {
    display: grid;
    margin-bottom: 50px;   
    margin-top: 30px;    
    margin-left: 30px;                
    margin-right: 30px;                
    border: 1px solid rgb(48,48,48.8);                
    border-radius: 10px; 
    width: 90%;
    height: 100px;  
    
    grid-template: "styleOrigen     styleOrigen      styleDestino" 30px
                   "stylePrecio     styleDirecto     styleDirecto"        30px
                   "styleHoraSalida styleHoraLlegada styleEconomico" 30px/
                    1fr                 1fr                  1fr; 
    /* grid-template: "styleOrigen     styleOrigen   styleDestino " 80px
                   "stylePrecio     styleDirecto   styleDirecto" 80px /
                    1fr            1fr           1fr; */
                                          
}
.styleOrigen {
    grid-area: styleOrigen;
    font-size: 1.5em;
    
}
 .styleDestino {
    grid-area: styleDestino;
    font-size: 1.5em;
    text-align: right;
  
}
.stylePrecio {
    grid-area: stylePrecio;
    font-size: 1.5em;
  
}
.styleDirecto {
    grid-area: styleDirecto;
    font-size: 1.5em;
   
}
.styleHoraSalida{
    grid-area: styleHoraSalida;
    font-size: 1.5em;
    
}
.styleHoraLlegada{
    grid-area: styleHoraLlegada;
    font-size: 1.5em;
 
}
.styleEconomico{
    grid-area: styleEconomico;
    font-size: 1.5em;

}
